<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unauthorized</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container">
    <h1 class="w3-center" style="font-size: 50pt"> <b> 401 - Unauthorized </b> </h1>
    <h2 class="w3-center"> Eseguire il <a href="{{url_for('login')}}">login</a> per accedere a questa risorsa </h2>
    <br>
    <img src="https://i.ibb.co/Q8FMnyp/401.gif" class="w3-center" style="width: 1000px; margin: auto; display: flex">
    <h3 class="w3-center"> -Ma qui non c'è nessun documento </h3>
</div>

<!--

401 - https://i.ibb.co/Q8FMnyp/401.gif
403 - https://i.ibb.co/23fnTCK/403.gif

-->
</body>
</html>