<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container">
    <h1 class="w3-center" style="font-size: 50pt"> <b> 404 - Page not found </b> </h1>
    <h2 class="w3-center"> La pagina cercata non esiste </h2>
    <br>
    <img src="https://i.ibb.co/BNpvFqT/404.gif" class="w3-center" style="width: 1000px; margin: auto; display: flex">
    <h3 class="w3-center"> -Cos'è successo qua? </h3>
    <h3 class="w3-center"> -Eh non ha la pagina </h3>
</div>

</body>
</html>