<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin dashboard</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<div class="w3-border-bottom" style="height: 800px; display:block">
    <div id="calendarContainer"><img src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=790b7611571d973053c38bc13f748ca7461ef601b62dd84e&rid=giphy.gif&ct=g" style="display:block; margin:auto; width: 25%;">
    </div>
</div>

<script>
    $(document).ready( function() {
        $.ajax("{{ url_for('calendar_view_today') }}").done(function (reply) {
            $('#calendarContainer').html(reply);
        });
    });
</script>

<div class="w3-row">
    <div class="w3-container w3-third w3-light-gray">
        <form action="{{ url_for('dashboard_view') }}" method="post" class="w3-container w3-margin" id="nuovoCorso">
            <h2 class="">Inserisci nuovi corsi</h2>
            <p class="w3-pale-red" id="errMessage"></p>
            <label for="nome">Nome</label><input id="nome" name="nome" type="text" placeholder="Nome corso" class="w3-input w3-margin-bottom"/>
            <label for="descrizione">Descrizione</label><textarea id="descrizione" name="descrizione" placeholder="Descrizione" rows="4" class="w3-input w3-margin-bottom" style="resize: vertical"></textarea>
            <label for="sala">Sala</label><select class="w3-select w3-margin-bottom" id="sala" name="sala">
                <option value="" disabled selected hidden>Seleziona sala</option>
                {%for i in sale%}
                <option value="{{i.IDSala}},{{i.MaxPersone}}">{{ i.IDSala }}</option>
                {%endfor%}
            </select>
            <div class="w3-row-padding w3-stretch w3-margin-bottom">
                <div class="w3-half"><label for="minPersone">Min persone</label><input id="minPersone" name="minPersone" type="number" min="0" placeholder="Minimo persone" class="w3-input w3-margin-right"/></div>
                <div class="w3-half"><label for="maxPersone">Max persone</label><input id="maxPersone" name="maxPersone" type="number" min="1" placeholder="Massimo persone" class="w3-input"/></div>
            </div>
            <label for="settimanaInizio">Settimana di inizio</label><input id="settimanaInizio" name="settimanaInizio" type="week" placeholder="Settimana inizio" class="w3-input w3-margin-bottom" />
            <div class="w3-row w3-margin-bottom" style="align-items: center; display: flex; justify-content: center">
                <div class="w3-margin-right w3-col s1 m1 l1"><label for="lun">lun</label><input id="lun" name="lun" type="checkbox" class="w3-check"></div>
                <div class="w3-margin-right w3-col s1 m1 l1"><label for="mar">mar</label><input id="mar" name="mar" type="checkbox" class="w3-check"></div>
                <div class="w3-margin-right w3-col s1 m1 l1"><label for="mer">mer</label><input id="mer" name="mer" type="checkbox" class="w3-check"></div>
                <div class="w3-margin-right w3-col s1 m1 l1"><label for="gio">gio</label><input id="gio" name="gio" type="checkbox" class="w3-check"></div>
                <div class="w3-margin-right w3-col s1 m1 l1"><label for="ven">ven</label><input id="ven" name="ven" type="checkbox" class="w3-check"></div>
                <div class="w3-margin-right w3-col s1 m1 l1"><label for="sab">sab</label><input id="sab" name="sab" type="checkbox" class="w3-check"></div>
                <div class="w3-margin-right w3-col s1 m1 l1"><label for="dom">dom</label><input id="dom" name="dom" type="checkbox" class="w3-check"></div>
            </div>
            <div class="w3-row-padding w3-stretch w3-margin-bottom">
                <div class="w3-half"><label for="oraInizio">Ora di inizio</label><input id="oraInizio" name="oraInizio" type="time" placeholder="Orario di inizio" class="w3-input w3-margin-right" /></div>
                <div class="w3-half"><label for="oraFine">Ora di fine</label><input id="oraFine" name="oraFine" type="time" placeholder="Orario di fine" class="w3-input w3 s3" /></div>
            </div>
            <label for="istruttore">Istruttore</label><select class="w3-select w3-margin-bottom" id="istruttore" name="istruttore">
                <option value="" disabled selected hidden> Seleziona istruttore </option>
                {%for i in istruttori%}
                <option value="{{i.IDStaff}}">{{ i.Nome }} {{ i.Cognome }}</option>
                {%endfor%}
            </select>
            <label for="ripetizioni">Numero di ripetizioni</label><input id="ripetizioni" name="ripetizioni" type="number" placeholder="Numero ripetizioni" class="w3-input w3-margin-bottom" min="1" value="1"/>
            <input type="submit" value="Aggiungi" class="w3-button w3-black">
        </form>
    </div>

    <!--
    <div class="w3-container w3-third w3-pink">
        HIII
    </div>
    -->

    <div class="w3-container w3-third w3-light-gray">
        <h2>Opzioni su persona</h2>
        <form action="{{ url_for('dashboard_view') }}" method="post" class="w3-container w3-margin" id="modificaCliente">
            <input name="codiceFiscale" type="text" placeholder="codice fiscale" class="w3-input" /><br>
            <input type="radio" name="attivazione" id="attiva" value="attiva">
            <label for="attiva">attiva</label>
            <input type="radio" name="attivazione" id="disattiva" value="disattiva">
            <label for="disattiva">disattiva</label><br><br>
            <input type="submit" class="w3-button w3-black" value="Conferma"><br>
        </form>
        <h2>Opzioni su cliente</h2>
        <form action="{{ url_for('dashboard_view') }}" method="post" class="w3-container w3-margin" id="modificaStaff">
            <input name="codiceFiscale" type="text" placeholder="codice fiscale" class="w3-input" /><br>
            <input type="radio" name="pagante" id="pagante" value="pagante">
            <label for="pagante">pagante</label>
            <input type="radio" name="pagante" id="non pagante" value="non pagante">
            <label for="non pagante">non pagante</label><br><br>
            <input type="submit" class="w3-button w3-black" value="Conferma"><br>
        </form>
    </div>

    <div class="w3-container w3-third w3-light-gray">
        <h2>
            <a href="{{url_for('register')}}">Registra un istruttore</a>
        </h2>
        <h2>Crea una sala</h2>
        <form action="{{ url_for('dashboard_view') }}" method="post" class="w3-container w3-margin" id="creaSala">
            <label for="tipoSala">Tipo di sala</label><input id="tipoSala" name="tipo" type="text" placeholder="tipo" class="w3-input w3-margin-bottom">
            <label for="maxPersoneNewSala">Numero massimo di persone</label><input id="maxPersoneNewSala" name="MaxPersone" type="number" placeholder="max persone" class="w3-input" min="0"><br>
            <input type="submit" class="w3-button w3-black" value="Crea sala"><br>
        </form>

        <h2>Traccia i contatti di una persona</h2>
        <form action="{{ url_for('dashboard_view') }}" method="post" class="w3-container w3-margin" id="contact tracing">
            <input name="da tracciare" type="text" placeholder="codice fiscale" class="w3-input w3-margin-bottom">
            <input name="giorni" type="number" placeholder="quanti giorni andare a ritroso" class="w3-input" min="0" max="7"><br>
            <input type="submit" class="w3-button w3-black" value="Traccia"><br>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='nuovoCorso.js') }}"></script>

</body>
</html>