<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar App Vanilla JS</title>

    <link rel="stylesheet" href="../static/calendar.css">
</head>
<body>

<div id="container">
    <div id="header">
        <div id="monthDisplay"></div>
        <div>
            <button id="backButton"> << </button>
            <button id="todayButton"> oggi </button>
            <button id="nextButton"> >> </button>
        </div>
    </div>

    <div id="weekdays">
        <div>Lunedì</div>
        <div>Martedì</div>
        <div>Mercoledì</div>
        <div>Giovedì</div>
        <div>Venerdì</div>
        <div>Sabato</div>
        <div>Domenica</div>
    </div>

    <div id="calendar"></div>
</div>



<div id="dayModal">
    <h2 id="modalHeader"></h2>

    <div id="eventText"></div>

    <button id="closeButton" style="margin-top: 20px">Close</button>
</div>

<div id="modalBackDrop"></div>

<br>
<div id="courses">{{ corsi }}</div>

<script type=text/javascript src="{{ url_for('static', filename='calendar.js') }}"></script>

</body>
</html>