<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corso</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

{% extends "home.html" %}

{% block content %}
<body>
    <div class="w3-container w3-light-grey" style="width:75%; margin:auto; margin-top:32px" >
        <div class=" w3-section" id="intro">
            <h1>{{ corso.Nome }}</h1>
            <p class="w3-margin-left w3-opacity">
                {% if corso.Descrizione %}
                    {{ corso.Descrizione }}
                {% endif %}
            </p>
        </div>

        <div class="w3-border-top"></div>

        <div class="w3-container" style="display:flex">
            <div class="w3-card w3-section w3-container" id="info-card" style="width:400px; display:flex">
                <div class="" id="info" style="width:325px">
                    <h4> Data: <span class="w3-opacity">{{corso.Data}}</span></h4>
                    <h4> Orario: <span class="w3-opacity">{{corso.OraInizio.strftime('%H:%M')}}-{{corso.OraFine.strftime('%H:%M')}}</span></h4>
                    <h4> Sala: <span class="w3-opacity">{{ corso.IDSala }}</span></h4>
                    <h4> Istruttore: <span class="w3-opacity">{{ istruttore.Nome }} {{ istruttore.Cognome }} </span></h4>
                    <h4> Posti rimanenti: <span class="w3-opacity">{{ corso.MaxPersone - iscritti }} </span></h4>
                </div>
                <div class="w3-display-container">
                    {% if corso.MaxPersone - iscritti >= 5 %}
                        <div class="w3-green w3-circle w3-display-middle" style="width:50px; height:50px; display:flex"></div>
                    {% elif corso.MaxPersone - iscritti == 0 %}
                        <div class="w3-amber w3-circle w3-display-middle" style="width:50px; height:50px; display:flex"></div>
                    {% else %}
                        <div class="w3-red w3-circle w3-display-middle" style="width:50px; height:50px; display:flex"></div>
                    {% endif %}
                </div>
            </div>
            {% if current_user.is_authenticated %}
                {% if not is_iscritto %}
                <form action="{{ url_for('view_corso', id=corso.IDCorso) }}" method="post" style="height:32px; margin:auto; line-height:100%; margin-left: 32px; border-radius:4px">
                    <input type="hidden" name="form-name" value="subscribe">
                    <button class="w3-button w3-black">
                        Iscriviti!
                    </button>
                </form>
                {% else %}
                <form action="{{ url_for('view_corso', id=corso.IDCorso) }}" method="post" style="height:32px; margin:auto; line-height:100%; margin-left: 32px; border-radius:4px">
                    <input type="hidden" name="form-name" value="unsubscribe">
                    <button class="w3-button w3-black">
                        Annulla l'iscrizione
                    </button>
                </form>
                {% endif %}
                {% if not is_seguito %}
                <form action="{{ url_for('view_corso', id=corso.IDCorso) }}" method="post" style="height:32px; margin:auto; line-height:100%; margin-left: 32px; border-radius:4px">
                    <input type="hidden" name="form-name" value="follow">
                    <button class="w3-button w3-black">
                        Rimani aggiornato
                    </button>
                </form>
                {% else %}
                <form action="{{ url_for('view_corso', id=corso.IDCorso) }}" method="post" style="height:32px; margin:auto; line-height:100%; margin-left: 32px; border-radius:4px">
                    <input type="hidden" name="form-name" value="unfollow">
                    <button class="w3-button w3-black">
                        Smetti di seguire
                    </button>
                </form>
                {% endif %}
            {% else %}
            <p> Accedi per poter continuare </p>
            {% endif %}
        </div>

    </div>

    <hr>

        {% if current_user.is_admin() %}
    <form class="w3-center w3-margin" action="{{ url_for('view_corso', id=corso.IDCorso) }}" method="post" style="height:32px; margin:auto; line-height:100%; margin-left: 32px; border-radius:4px">
        <input type="hidden" name="form-name" value="delete">
        <button class="w3-button w3-black">
            Cancella corso
        </button>
    </form>
    {% endif %}



</body>
{% endblock %}

</html>