<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corsi</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

{% extends "home.html" %}

{% block content %}
<body>
    <div class="w3-container" align="center">
        <h1>I nostri corsi</h1>
    </div>

    {% for corso in lista_corsi %}
    <div class=" w3-card-4 w3-margin">
        <header class="w3-container w3-light-grey" align="center">
          <h2>{{ corso.Nome }}</h2>
        </header>

        <div class="w3-display-container" align="center">
            <p> Data: {{corso.Data.strftime('%a %d %B')}}</p>
            <p> Orario: {{corso.OraInizio.strftime('%H:%M')}} - {{corso.OraFine.strftime('%H:%M')}}</p>

            <a class="w3-button w3-round w3-margin-right w3-dark-grey w3-display-right w3-display-hover" href="/corso/{{corso.IDCorso}}">Scopri di più</a>
        </div>

    </div>
    {% endfor %}

</body>
{% endblock %}
</html>