<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Super Mega Palestra Pokemon</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/1567679.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>

</head>
<body>
    <div class="w3-bar w3-light-grey w3-border-bottom">
        <a class="w3-bar-item w3-button w3-xlarge" href="{{url_for('lista_corsi')}}">Corsi</a>
        <div class="w3-dropdown-hover w3-right">
            {% if not current_user.is_authenticated %}
            <button class="w3-button w3-xlarge">Accedi</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
                <a href="{{url_for('login')}}" class="w3-bar-item w3-button">Login</a>
                <a href="{{url_for('register')}}"class="w3-bar-item w3-button">Registrati</a>
            </div>
            {% else %}
            <button class="w3-button w3-xlarge"><i class="w3-green w3-circle w3-xlarge material-icons" style="padding: 2px">person</i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
                {% if current_user.is_admin() %}
                <a href="{{url_for('dashboard_view')}}" class="w3-bar-item w3-button">Dashboard</a>
                {% else %}
                <a href="{{url_for('profile_view', username=current_user.Email)}}" class="w3-bar-item w3-button">Profilo</a>
                {% endif %}
                <a href="{{url_for('notifications')}}" class="w3-bar-item w3-button">Notifiche</a>
                <a href="{{url_for('logout')}}" class="w3-bar-item w3-button">Logout</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="w3-container" align="center">
        <h1 class="w3-text-white">Nome Palestra</h1>
    </div>

</body>
</html>
