<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Super Mega Palestra Pokemon</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-container" align="center">
        <h1 style="font-family: Arial">iGym</h1>
    </div>
    <div class="w3-container", align="center">
         <a href="{{url_for('login')}}">clicca qui per login</a></p>
         {% if not authenticated %}
         <a href="{{url_for('register')}}">clicca qui per registrarti</a></p>
         {% endif %}
         <!-- DA ELLIMINARE IN PRODUCTION -->
         <a href="{{url_for('dashboard_view')}}">clicca qui per vedere la dashboard dell'admin</a></p>
         <!--{% if admin %} DA DECOMMENTARE IN PRODUCTION
         <a href="{{url_for('dashboard_view')}}">clicca qui per vedere la dashboard dell'admin</a></p>
         {% endif %}-->
        <a href="{{url_for('lista_corsi')}}">I nostri corsi</a></p>
    </div>
    <div align="center">
        {% if authenticated%}
        <button class="w3-button w3-black">
            <a href="{{url_for('logout')}}">Logout</a>
        </button>
        <button class="w3-button w3-black">
            <a href="/user/user">Area riservata</a>
        </button>
        {% endif %}
    </div>
</body>
</html>
