<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Super Mega Palestra Pokemon</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="w3-bar w3-light-grey w3-border-bottom">
        <a class="w3-bar-item w3-button w3-xlarge" href="{{url_for('lista_corsi')}}">Corsi</a>
        <div class="w3-dropdown-hover w3-right">
            {% if not authenticated %}
            <button class="w3-button w3-xlarge">Accedi</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
                <a href="{{url_for('login')}}" class="w3-bar-item w3-button">Login</a>
                <a href="{{url_for('register')}}"class="w3-bar-item w3-button">Registrati</a>
            </div>
            {% else %}
            <button class="w3-button w3-xlarge"><i class="w3-green w3-circle w3-xlarge material-icons" style="padding: 4px">person</i></button>

            {% endif %}
        </div>
    </div>
    <div class="w3-container" align="center">
        <h1 style="font-family: Arial">iGym</h1>
    </div>
    <div class="w3-container", align="center">
         <a href="{{url_for('login')}}">clicca qui per login</a></p>
         {% if not current_user.is_authenticated %}
         <a href="{{url_for('register')}}">clicca qui per registrarti</a></p>
         {% endif %}
         <!-- DA ELLIMINARE IN PRODUCTION -->
         <a href="{{url_for('dashboard_view')}}">clicca qui per vedere la dashboard dell'admin</a></p>
         <!--{% if admin %} DA DECOMMENTARE IN PRODUCTION
         <a href="{{url_for('dashboard_view')}}">clicca qui per vedere la dashboard dell'admin</a></p>
         {% endif %}-->
    </div>
    <div align="center">
        {% if current_user.is_authenticated %}
        <button class="w3-button w3-black">
            <a href="{{url_for('logout')}}">Logout</a>
        </button>
        <button class="w3-button w3-black">
            <a href="/user/user">Area riservata</a>
        </button>
        {% endif %}
    </div>
</body>
</html>
