<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-container" align="center">
        <a class="w3-button w3-black w3-margin" href="{{url_for('home')}}">Home</a>
    </div>

    <div align="center" class="w3-container">
        <div>
            <h1>Login</h1>
        </div></br></br></br>
        <h2>
            <form action="{{ url_for('login') }}" method="post" class="w3-container">
                <div class="msg">{{ msg }}</div>
                <input type="hidden" name="form-name" value="login">
                <input id="username" name="username" type="text" placeholder="e-mail" class="w3-input" style="width:500px" required/><br>
                <input id="password" name="password" type="password" placeholder="password" class="w3-input" style="width:500px" required/><br>
                <input type="submit" class="w3-button w3-black" value="Accedi"><br>
            </form>
        </h2>
        <p>Non hai un account?  <a href="{{url_for('register')}}"> Registrati qui</a></p>
    </div>

</body>
</html>