<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifiche</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .dot {
          height: 25px;
          width: 25px;
          background-color: #ff0000;
          border-radius: 50%;
          display: inline-block;
        }
    </style>
</head>


{% extends "home.html" %}

{% block content %}
<body>
<div class="w3-row w3-container">
    <form action="{{ url_for('notifications') }}" method="post" class="w3-margin-top">
        <input type="hidden" name="form-name" value="cancellaNotifiche">
        <input type="submit" class="w3-button w3-black" value="Cancella tutte le notifiche">
    </form>
</div>
<div class="w3-quarter"><p></p></div>
<div class="w3-container w3-light-gray w3-card w3-margin w3-half w3-center">
    {% if current_user.is_staff() %}
    <h1>Invia una notifica</h1>
    <div class="w3-container w3-light-gray">
        <form action="{{ url_for('notifications') }}" method="post" class="w3-container w3-margin" id="nuonaNotifica">
            <input type="hidden" name="form-name" value="inviaNotifica">
            <input id="destinatario" name="destinatario" type="text" placeholder="destinatari separati da spazio" class="w3-input w3-margin-bottom"/>
            <textarea id="testo" name="testo" placeholder="testo" class="w3-input w3-margin-bottom" style="resize: vertical"></textarea>
            <input type="submit" class="w3-button w3-black" value="Invia"><br>
        </form>
    </div>
    <div class="w3-container w3-half w3-light-gray" align="center">
    {% else %}
    <div class="w3-container w3-light-gray" align="center">
    {% endif %}
        {% for message in inbox %}
            <div>
                <table class="w3-border">
                    <tr>
                        <th>Da: {{ message.Mittente }}
                        {% if message.Letto == False %}
                            <span class="dot"></span>
                        {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th>Ora: {{ message.Timestamp }}</th>
                    </tr>
                    <tr>
                        <th>{{ message.Testo }}</th>
                    </tr>
                </table>
            </div>
            <br><br>
        {% endfor %}
    </div>
    </div>
</div>
</body>
{% endblock %}
</html>
