<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/switch.css">
</head>
<body>
<form action="{{ url_for('view_users') }}" method="post" id="modifiche">
    <input type="hidden" name="form-name" value="modifica">
    <div class="w3-row w3-light-gray w3-margin-left">
        <a class="w3-button w3-black w3-margin-top" href="{{url_for('home')}}">Home</a>
        <a class="w3-button w3-black w3-margin-top" href="{{url_for('dashboard_view')}}">Dashboard</a>
        <input type="submit" class="w3-button w3-black w3-margin-top" value="Salva">
    </div>

    <div class="w3-row">
        <div class="w3-container w3-margin w3-light-gray">
            <h1>Lista clienti</h1>
            <table class="w3-table">
                <tr class="w3-gray">
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Codice fiscale</th>
                    <th>Email</th>
                    <th>Attivo</th>
                    <th>Pagante</th>
                    <th></th>
                </tr>
                {% for c in clienti %}
                <tr>
                    <th>{{c.Nome}}</th>
                    <th>{{c.Cognome}}</th>
                    <th>{{c.CF}}</th>
                    <th>{{c.Email}}</th>
                    <th>
                        <label class="switch">
                        {% if c.Attivo %}
                            <input type="checkbox" checked name="attivazione-{{c.CF}}">
                        {% else %}
                            <input type="checkbox" name="attivazione-{{c.CF}}">
                        {% endif %}
                            <span class="slider round"></span>
                        </label>

                    </th>
                    <th>
                        <label class="switch">
                        {% if c.Pagante %}
                            <input type="checkbox" checked name=pagamento-{{c.CF}}>
                        {% else %}
                            <input type="checkbox" name=pagamento-{{c.CF}}>
                        {% endif %}
                            <span class="slider round"></span>
                        </label>
                    </th>

                    <th>
                        <form action="{{ url_for('view_users') }}" method="post" class="w3-container" id="contact tracing">
                            <input hidden name="form-name" value="tracciamento">
                            <input hidden name="da tracciare" value="{{ c.IDCliente }}">
                            <input type="submit" class="w3-button w3-black" value="Traccia">
                        </form>
                    </th>
                </tr>
                {% endfor %}
            </table>
        </div>

        <hr>

        <div class="w3-container w3-light-gray w3-margin">
            <h1>Lista staff</h1>
            <table class="w3-table">
                <tr class="w3-gray">
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Codice fiscale</th>
                    <th>Email</th>
                    <th>Ruolo</th>
                    <th>Attivo</th>
                </tr>
                {% for s in staff %}
                <tr>
                    <th>{{s.Nome}}</th>
                    <th>{{s.Cognome}}</th>
                    <th>{{s.CF}}</th>
                    <th>{{s.Email}}</th>
                    <th>{{s.Ruolo}}</th>
                    <th>
                        {% if s.Attivo %}
                        <label class="switch">
                            <input type="checkbox" checked name="attivazione-{{s.CF}}">
                            <span class="slider round"></span>
                        </label>
                        {% else %}
                        <label class="switch">
                            <input type="checkbox" name="attivazione-{{s.CF}}">
                            <span class="slider round"></span>
                        </label>
                        {% endif %}
                    </th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>
</div>
</body>
</html>
