<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="w3-row w3-container w3-light-gray">
        <a class="w3-button w3-black w3-margin-top" href="{{url_for('home')}}">Home</a>
        <a class="w3-button w3-black w3-margin-top" href="{{url_for('logout')}}">Logout</a>
        <a class="w3-button w3-black w3-margin-top" href="{{url_for('notifications')}}">inserire icona notifica</a>
    </div>
    <div align="center" class="w3-container">
        <h2>Welcome back {{persona.Nome}} {{persona.Cognome}}!</h2>
    </div>

    <div style="height: 800px">
        <div id="calendarContainer"><img src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=790b7611571d973053c38bc13f748ca7461ef601b62dd84e&rid=giphy.gif&ct=g" style="display:block; margin:auto; width: 25%;">
        </div>
    </div>

    <script>
        $(document).ready( function() {
            $.ajax("{{ url_for('calendar_view_today', user=persona.CF ) }}").done(function (reply) {
                $('#calendarContainer').html(reply);
            });
        });
    </script>

    <div class="w3-row">
        <div class="w3-container w3-quarter w3-light-gray">
            <div class="w3-container w3-light-gray">
                <h3>Form prenotazione da eliminare</h3>
                <form action="{{ url_for('profile_view', username=username) }}" method="post"
                      class="w3-container w3-margin" id="nuovaPrenotazione">
                    <p>{{msg}}</p>
                    <input type="hidden" name="form-name" value="prenotazione">
                    <input id="inputDate" name="Data" type="date" placeholder="Data" class="w3-input w3-margin-bottom" required>
                    <input type="time" id="oraInizio" name="oraInizio" min="06:00" max="23:00" placeholder="ora inizio" class="w3-input w3-margin-bottom" required>
                    <input type="time" id="oraFine" name="oraFine" min="06:00" max="23:00" placeholder="ora fine" class="w3-input w3-margin-bottom" required>
                    <input id="IDCorso" name="IDCorso" type="text" placeholder="idcorso" class="w3-input w3-margin-bottom" >
                    <input id="IDSala" name="IDSala" type="text" placeholder="idsala" class="w3-input w3-margin-bottom" required>
                    <input class="w3-button w3-black" type="submit" value="Prenota">
                </form>
            </div>

        </div>
        <div class="w3-container w3-quarter w3-light-gray">

        </div>
    </div>

    <div align="center">

    </div>

    <script>
        let dtToday = new Date();
        let month = dtToday.getMonth() + 1;
        let day = dtToday.getDate();
        let year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();
        let minDate = year + '-' + month + '-' + day;
        document.getElementById("inputDate").setAttribute('min',minDate);
    </script>
</body>
</html>